@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 1em;
	font-size: 18px;
	font-family: 'Souce Sans Pro', sans-serif;
	background-color: #FBEEE6;
}


#wrapper {
	margin: 0 auto;
}

#two_column {
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #e582a2;
	border: 1px black solid;
	padding: 20px;	
	width: 75%;
	float: left;
}


#right {
	padding: 20px;
	/*margin-top: 1em*/
	outline: 1px black solid;
	background-color: #e55b88;
	float: right;
	width: 25%;
}

header {
	border: 1px black solid;
	background-color: #ffed74;
}

h1, h2, h3 {
	font-family: 'Bitter';
	font-weight: 550;
}

h1 {
	float: left;
}

header h2 {
	margin-top: 5em;
	clear: both;
}

#sub-text {
	padding-top: .5em;
	margin-bottom: 2em;
}

.coffeeType {
	width: 31%;
	padding: 1.5em;
	margin: 1em 1em 0 0; 
	background-color: #ffe2b8;
	float: left;
}


img {
	width: 100%;
	margin: 0 auto;
}

nav {
	border: 1px black solid;
	background-color: #e8c66a;
	float: right;
}


nav a {
	padding: .8em 1.5em;
	color: #873600;
	text-decoration: none;
	float: left;
}

nav a span {
	font-family: 'Bitter';
	font-size: 1.3em;
	font-weight: 600;
}

nav a:hover {
	background-color: #873600;
	color: #FFF;

}

hr {
	margin: 1em 0;
}


footer {
	margin-top: 2em;
	padding: 20px;
	border: 1px black solid;
	background-color: #ff957e;
	text-align: center;
	width: 100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}



