html {
	background-image: url("../images/coffee-cup.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	color: #FFF;
	font-family: "Open Sans", Sans-serif;
	font-size: 1.1em;
}


.text-bg {
	background-color: #FFF;
	width: 35%;
	height: 23vh;
	color: #7B241C;
	margin-left: 0px;
	padding-left: 1.5%;
}

#slogan {
	font-size: 2em;
	padding-top: 2.5%;
	font-weight: boldi
}

#sub-text {
	font-size: 1.3em;
	line-height: 0%;
	color: #3498DB;
}	

.box {
	width: 35%;
	margin: 6% 0 2% 0;
	padding: 0.5% 0 0.5% 1.5%;
	background-color: rgba(61,18,14,0.6);
}

#description {
	font-size: 1.3em;
}

a {
	color: white;
}